Source: moat-modbus-data
Maintainer: "Matthias Urlichs" <matthias@urlichs.de>
Section: javascript
Priority: optional
Build-Depends: debhelper (>= 13),
Standards-Version: 3.9.6
Homepage: https://m-o-a-t.org
X-DH-Compat: 13

Package: moat-modbus-data
Architecture: all
Depends: ${misc:Depends},
Description: node-red files for MoaT
 This module contains MoaT support modules for node-red.
 .
 Usage: "npm install /usr/share/moat/nodered/*"

