Source: moat-kv-gpio
Maintainer: Matthias Urlichs <matthias@urlichs.de>
Section: python
Priority: optional
Build-Depends: dh-python, python3-all, debhelper (>= 13), debhelper-compat (= 13),
  python3-setuptools,
  python3-wheel,
Standards-Version: 3.9.6
Homepage: https://github.com/m-o-a-t/moat-kv-gpio

Package: moat-kv-gpio
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends},
  moat-kv (>= 0.70),
  python3-moat-lib-gpio,
Replaces: python3-distgpio, distkv-gpio
Conflicts: python3-distgpio, distkv-gpio
Description: GPIO access for moat-kv
 MoaT-KV-GPIO is a link between GPIO pins and MoaT-KV.
 .
 It can write values that it reads from GPIO to some MoaT-KV entry, monitor a
 MoaT-KV entry and write any updates to a GPIO pin, and work with MoaT-KV's runner
 system, either centrally or distributed.
