*~
.#*
\#*
/build/
.cache
.coverage
.coverage.*
coverage.xml
/debian/
/develop-eggs/
/dist/
docs/build/
docs/tmp/
*.egg
/*.egg-info/
/.eggs/
/eggs/
htmlcov/
/.hypothesis/
.installed.cfg
/lib/
/lib64/
# Local test tools
*.log
*.mo
# Mr Developer
.mr.developer.cfg
nosetests.xml
/parts/
pip-log.txt
*.pot
.project
/.pybuild/
__pycache__/
*.py[cod]
.pydevproject
.pytest_cache
.Python
# Rope
.ropeproject
/sdist/
*.so
.tox/
