
*~
.#*
\#*
/*.build
/build/
/*.buildinfo
.cache
/*.cfg
/*.changes
/configs/*.cfg
*,cover
.coverage
.coverage.*
/.coverage
/coverage.xml
coverage.xml
/*.deb
/debian/
/develop-eggs/
/dist/
docs/_build/
docs/build/
docs/tmp/
/downloads/
*.egg
/*.egg
/*.egg-info/
/.eggs/
/eggs/
/.env
/env/
/ENV/
/fake.rtc
/htmlcov/
htmlcov/
/.hypothesis/
.installed.cfg
/.installed.cfg
/lib/
/lib64/
/local/
*.log
*.manifest
*.mo
/moat_lib_cmd.egg-info/
.mr.developer.cfg
nosetests.xml
/obj/
/parts/
pip-log.txt
*.pot
.project
/.pybuild/
__pycache__/
*.py[cod]
.pydevproject
.pytest_cache
/.pytest_cache/
.Python
.ropeproject
/sdist/
*.so
/static/ext/
/.tested.yaml
/tests/plugins/test.db
.tox/
/*.upload
/var/
/.venv
/venv/
/wheels/
