[Unit]
Description=DistKV GPIO server
After=distkv.service
# Requires=distkv.service
# only if distkv runs on the same host

ConditionFileNotEmpty=/etc/distkv.cfg

[Install]
WantedBy=multi-user.target

[Service]
Type=notify
ExecStart=/usr/bin/distkv client gpio monitor $NAME

EnvironmentFile=/etc/distkv.env

TimeoutSec=300
WatchdogSec=10

Restart=always
RestartSec=30
