[Unit]
Description=Moat-KV OWFS server
After=moat-kv.service
Requires=moat-kv.service

ConditionFileNotEmpty=/etc/moat/moat.cfg

[Install]
WantedBy=multi-user.target

[Service]
Type=notify
ExecStart=/usr/bin/moat kv ow monitor %I

TimeoutSec=300
WatchdogSec=10

Restart=always
RestartSec=30
