[build-system]
build-backend = "setuptools.build_meta"
requires = [ "setuptools", "wheel", "setuptools-scm",]

[project]
classifiers = [
	"Intended Audience :: Developers",
	"Programming Language :: Python :: 3",
	"Framework :: AsyncIO",
	"Framework :: Trio",
	"Framework :: AnyIO",
	"License :: OSI Approved",
	"Development Status :: 4 - Beta",
	]
dependencies = [
	"anyio ~= 3.0",
	]
dynamic = [ "version",]
keywords = [ "MoaT",]
requires-python = ">=3.8"
name = "moat-util"
description = "Utility code for the rest of MoaT"
readme = "README.rst"
[[project.authors]]
name = "Matthias Urlichs"
email = "matthias@urlichs.de"

[project.license]
file = "LICENSE.txt"

[project.urls]
homepage = "https://m-o-a-t.org"
repository = "https://github.com/M-o-a-T/moat-util"

[project.optional-dependencies]
event = [ "attr", "outcome",]
main = [ "asyncclick", "getpass",]
msg = [ "msgpack",]
path = [ "simpleeval",]
queue = [ "outcome",]
systemd = [ "systemd.daemon",]
yaml = [ "ruyaml",]
time = [ "calendar",]
dev = [ "flake8", "isort",]

[tool.flake8]
max-line-length = 99
ignore = [ "E731", "E502", "E402", "E127", "E123", "W503", "E231", "E203", "F401"]

[tool.isort]
line_length = 99
multi_line_output = 3
profile = "black"

[tool.setuptools]
packages = [ "moat.util",]

[tool.pylint.messages_control]
disable="unspecified-encoding,missing-module-docstring,no-else-continue,too-many-instance-attributes,too-many-statements,too-many-return-statements,superfluous-parens,too-few-public-methods,use-dict-literal,too-many-locals,no-else-return,too-many-arguments,too-many-branches,invalid-name,fixme"

[tool.setuptools_scm]

[tool.tox]
legacy_tox_ini = """
[tox]
isolated_build = True
envlist = py310,py39,check

[testenv]
setenv = 
    PYTHONPATH = {env:PYTHONPATH}{:}{toxinidir}

[testenv:check]
commands = 
    pylint moat/util tests
    flake8p moat/util tests
    black --check moat/util tests
deps = 
    pylint
    black
    flake8-pyproject
    flake8

"""
