anyio
anyio_serial
trio
asyncclick
asyncscope
asyncactor
pygit
msgpack
simpleeval
ruyaml
cffi
packaging
pymodbus
tomlkit
pytest
pytest_trio
pytest_asyncio
range_set
jsonschema
wsproto
psutil
asyncakumuli
asyncowfs
gpiod
numpy
enum_tools
transitions_aio
pyfuse3
pymodbus
passlib
asyncwebsockets
nacl
cbor2
#libffi-dev
#pkg-config
#flashmq
