# modifies packaging/moat-micro/deploy/esp.cfg
#
micro:
  setup:
    args:
      config: !P cfg.r
    app:
      app: dir
      r:
        app: serial.Raw
        port: /dev/serial/by-id/usb-Espressif_Systems_Espressif_Device_XXXXXXXXXXXX0000-if00
        mode:
          rate: &rs 115200
          dtr_flip: true
          rts_flip: true
          dtr_state: false
          rts_state: false
          dtr_rts: 0.1

    run:
      app: dir
      t:
        app: net.tcp.Link
        host: &ad 10.107.0.42
        port: &up 27589

      s:
        app: remote.Link
        path: !P r
        link:
          frame: 0xFA
          console: true
        log:
          txt: S
      n:
        app: net.unix.Link
        port: /tmp/moat.esp-s3

    install:
      port: esp32
      board: s3
      build: /var/tmp/esp32-s3

      serial: /dev/serial/by-id/usb-Espressif_USB_JTAG_serial_debug_unit_XX:XX:XX:XX:XX:XX-if00
      rate: 400000

  cfg:
    r: &cfg_r
      net:
        name: "esp32-s3"
        ap: "***"
        pwd: "*** *** ***"
        addr: *ad
        netmask: "255.255.255.0"
        router: "10.107.0.1"
        dns: "8.8.8.8"
      app:
        app: dir
        i:
          app: i2c.Cmd
          running: false
          id: 0
          d: 47
          c: 48
        wdt:
          app: wdt.Cmd
          t: 5000
          hw: true
        n:
          app: net.tcp.Port
          host: "0.0.0.0"
          port: *up
        s:
          app: _sys.Cmd
        c:
          app: cfg.Cmd
        f:
          app: fs.Cmd

    r_safe: *cfg_r

  run:
    app: dir
    n: *np
    t:
      app: net.tcp.Link
      host: *ad
      port: *up
    r:
      app: !R _

  connect:
    app:
      app: dir
      r: *np
    remote: !P r.t
    path:
      fs: !P f
      sys: !P s
      cfg: !P c
