[build-system]
build-backend = "setuptools.build_meta"
requires = [ "setuptools", "wheel",]

[project]
classifiers = [
	"Intended Audience :: Developers",
	"Programming Language :: Python :: 3",
	"Framework :: AsyncIO",
	"Framework :: Trio",
	"Framework :: AnyIO",
	"Development Status :: 4 - Beta",
	]
dependencies = [
	"anyio ~= 4.0",
	"asyncscope",
	"moat-util ~= 0.61.1",
	"moat-lib-config ~= 0.1.0",
	"moat-lib-run ~= 0.1.0",
	"moat-link ~= 0.2.44",
	"moat-link-server ~= 0.3.24",
	"moat-micro ~= 0.17.10",
	]
version = "0.11.9"
keywords = [ "MoaT",]
requires-python = ">=3.12"
name = "moat"
description = "The command line for MoaT"
#readme = "README.md"

[[project.authors]]
email = "matthias@urlichs.de"
name = "Matthias Urlichs"

[project.scripts]
moat = "moat.main:cmd"

[project.urls]
homepage = "https://m-o-a-t.org"
repository = "https://github.com/M-o-a-T/moat"

[tool.setuptools]
[tool.setuptools.packages.find]
where = ["src"]

[tool.setuptools.package-data]
"*" = ["*.yaml"]
