[build-system]
build-backend = "setuptools.build_meta"
requires = ["wheel","setuptools"]

[project]
classifiers = [
    "Development Status :: 4 - Beta",
    "Framework :: AnyIO",
    "Framework :: Trio",
    "Framework :: AsyncIO",
    "Programming Language :: Python :: 3",
    "Intended Audience :: Developers",
]
dependencies = [
    "anyio ~= 4.0",
    "moat-util ~= 0.61.1",
    "asyncclick ~= 8.0",
    "simpleeval ~= 1.0",
    "moat-lib-config ~= 0.1.0",
    "moat-lib-proxy ~= 0.1.0",
]
keywords = ["MoaT"]
requires-python = ">=3.8"
name = "moat-lib-run"
maintainers = [{email = "matthias@urlichs.de",name = "Matthias Urlichs"}]
description='Main command entry point infrastructure for MoaT applications'
readme = "README.md"
version = "0.1.1"

[project.urls]
homepage = "https://m-o-a-t.org"
repository = "https://github.com/M-o-a-T/moat"

[tool.setuptools]
[tool.setuptools.packages.find]
where = ["src"]

[tool.setuptools.package-data]
"*" = ["*.yaml"]
