Source: SUBDASH
Maintainer: GITNAME <GITEMAIL>
Section: python
Priority: optional
Build-Depends: dh-python, python3-all, debhelper (>= 13), debhelper-compat (= 13),
  python3-setuptools,
  python3-wheel,
Standards-Version: 3.9.6
Homepage: https://M-o-a-T.org/docs/SUBDOT

Package: SUBDASH
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends},
  python3-anyio (>= 4.10),
  moat-main,
Recommends:
  python3-trio (>= 0.17),
Description: Describe me!
  Describe me harder!
