Source: moat-lib-cmd
Maintainer: "Matthias Urlichs" <matthias@urlichs.de>
Section: python
Priority: optional
Build-Depends: dh-python, python3-all, debhelper (>= 13),
  python3-setuptools,
  python3-wheel,
Standards-Version: 3.9.6
Homepage: https://m-o-a-t.org
X-DH-Compat: 13

Package: python3-moat-lib-cmd
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends},
  python3-anyio (>= 3.0),
Description: A simple command/stream multiplexer
  This library implements a bidirectional RPC architecture that supports
  streaming messages and flow control.
  .
