[build-system]
build-backend = "setuptools.build_meta"
requires = [ "setuptools", "wheel",]

[project]
classifiers = [
	"Intended Audience :: Developers",
	"Programming Language :: Python :: 3",
	"Framework :: AsyncIO",
	"Framework :: Trio",
	"Framework :: AnyIO",
	"Development Status :: 4 - Beta",
	]
dependencies = [
	"anyio ~= 4.2",
	"asyncclick",
	"attrs",
	"msgpack",
	"outcome",
	"ruyaml",
	"simpleeval",
	"moat-util ~= 0.56.4",
	"moat-lib-cmd ~= 0.3.4",
	"mqttproto ~= 0.7.2.17",
	]
version = "0.2.15"
keywords = [ "MoaT",]
requires-python = ">=3.8"
name = "moat-link"
description = "Message exchange between MoaT instances"
readme = "README.rst"

[[project.authors]]
name = "Matthias Urlichs"
email = "matthias@urlichs.de"

[project.urls]
homepage = "https://m-o-a-t.org"
repository = "https://github.com/M-o-a-T/moat"

[tool.setuptools]
[tool.setuptools.packages.find]
where = ["src"]

[tool.setuptools.package-data]
"*" = ["*.yaml"]
