[build-system]
build-backend = "setuptools.build_meta"
requires = [ "setuptools", "wheel",]

[project]
classifiers = [
	"Intended Audience :: Developers",
	"Programming Language :: Python :: 3",
	"Framework :: AsyncIO",
	"Framework :: Trio",
	"Framework :: AnyIO",
	"Development Status :: 4 - Beta",
	]
dependencies = [
	"anyio ~= 4.2",
	"asyncclick",
	"attrs",
	"msgpack",
	"outcome",
	"ruyaml",
	"httpx",
	"simpleeval",
	"transitions_aio ~= 0.9.3.4",
	"moat-util ~= 0.61.1",
	"moat-lib-rpc ~= 0.4.11",
	"moat-lib-priomap ~= 0.2.2",
	"moat-lib-mqtt ~= 0.8.0",
	"moat-lib-codec ~= 0.4.9",
	"moat-lib-config ~= 0.1.0",
	"moat-lib-proxy ~= 0.1.0",
	"moat-lib-run ~= 0.1.0",
	"moat-link-server ~= 0.3.24",
	]
version = "0.2.45"
keywords = [ "MoaT",]
requires-python = ">=3.8"
name = "moat-link"
description = "Message exchange between MoaT instances"
readme = "README.rst"

[[project.authors]]
name = "Matthias Urlichs"
email = "matthias@urlichs.de"

[project.urls]
homepage = "https://m-o-a-t.org"
repository = "https://github.com/M-o-a-T/moat"

[tool.setuptools]
[tool.setuptools.packages.find]
where = ["src"]

[tool.setuptools.package-data]
"*" = ["*.yaml"]
