[Unit]
Description=MoaT-Link main server

ConditionFileNotEmpty=/etc/moat/moat.cfg

[Install]
WantedBy=multi-user.target

[Service]
Type=notify
ExecStart=/usr/lib/moat/link/run
SuccessExitStatus=42

RuntimeDirectory=moat/link

User=MoaT-Link
Group=MoaT

EnvironmentFile=/usr/lib/moat/link/env
EnvironmentFile=-/etc/moat/link.env

TimeoutSec=300
WatchdogSec=10
