#!/usr/bin/make -f

export PYBUILD_NAME=moat-kv-wago
%:
	dh $@ --with python3 --buildsystem=pybuild

debian/moat-kv-wago@.service: moat-kv-wago@.service
	cp $< $@

override_dh_auto_install: debian/moat-kv-wago@.service
	dh_auto_install
