#!/usr/bin/make -f

export PYBUILD_NAME=moat-link
%:
	dh $@ --with python3 --buildsystem=pybuild

execute_after_dh_install:
	$(MAKE) installscript PREFIX=debian/moat-link
	dh_installsysusers

override_dh_installsystemd:
	dh_installsystemd moat-link-host.service
