#
port:
  dev: "/dev/ttyACM0"
  socket: "moat.test"
  guarded: true
#bms:
#  main:
#    serial: ser
#    batteries:
#    - n: 8
#      # number of cells
#      name: testxxx
#      bms: batt
#      default:
#      cells: []
#      relay: False

# WARNING the Apps section is read from the device on multiplex startup.
# This part is not used unless you restart the system.
apps:
  f:
    cmd: moat.app.fs.FsCmd
  ser:
    cmd: moat.app.serial.SerialCmd
    cfg:
      uart: 0
      tx: 0
      rx: 1
      baud: 2400
      max:
        len: 2000
        idle: 500
      start: 0xFF
      # mark: 0x11
  batt:
    cmd: moat.app.bms.BMSCmd
    cfg:
      t:
        # how often to poll, seconds
        voltage: 1
        cellvoltage: 2
        celltemperature: 5
      serial: ser
      batt:
        n: 16
        u:
          max: 58
          min: 41.6
          ext:
            max: 57.28
            min: 46.4
          pin: 26
          scale: 0.001
          offset: 0
        i:
          max: 200
          min: -200
          ext:
            max: 150
            min: -150
          offset: 0.1
          pin: 27
          ref: 28
          scale: -0.000125

        balance:
          # no balancing if the cell voltage is below this value
          min: 3.3
          # balancer goal is lowest cell plus this value
          d: 0.05
          # max this number of cells may balance, 0=any
          n: 5
          # start balancing if cellV is higher than lowV+(maxV-lowV)*r
          r: 0.2
          
        cell:
          default:
            u:
              min: 2.7
              max: 3.63
              ext:
                min: 2.9
                max: 3.58
              # the values below this are updated from the cell module
              balance: 3.5
              scale: 0.001
              offset: 0
              samples: 5
            load:
              # load resistor
              r: 3.1
              # load thermistor max temperature
              max: 60
              b: 3950
            batt:
              # external (battery) thermistor
              b: 3950
              min: 15
              max: 45
          cells: []
      poll:
        d: 250  # decay of checks, 1000=total
        n: 10   # number of checks
        t: 250  # time between checks
        k: 10000  # needs to survive a controller restart
      relay:
        pin: 2
        t: 10000  # time until re-engaging relay after an error
        t1: 2000  # delay before switching the relay the first time
