Source: distowfs
Maintainer: Matthias Urlichs <matthias@urlichs.de>
Section: python
Priority: optional
Build-Depends: dh-python, python3-setuptools, python3-all, debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://github.com/smurfix/distowfs

Package: distkw-owfs
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends},
  distkv,
  python3-asyncowfs,
Replaces: python3-distowfs
Conflicts: python3-distowfs
Description: A distributed no-master key-value store
 DistOWFS is a link between 1wire and DistKV.
 .
 It will add all discovered 1wire devices, poll these devices as specified,
 write values that it reads from 1wire to some DistKV entry, monitor a DistKV
 entry and write any updates to 1wire, and work with DistKV's runner system,
 either centrally or distributed.
