[build-system]
build-backend = "setuptools.build_meta"
requires = [ "setuptools", "wheel",]

[project]
classifiers = [
	"Intended Audience :: Developers",
	"Programming Language :: Python :: 3",
	"Framework :: AsyncIO",
	"Framework :: Trio",
	"Framework :: AnyIO",
	"Development Status :: 4 - Beta",
	]
dependencies = [
	"anyio ~= 4.2",
	"pymodbus ~= 3.6.0",
	"anyio-serial",
	"moat-util ~= 0.56.4",
	"asyncscope ~= 0.8.3",
	"pymodbus ~= 3.8",
	]
version = "0.8.7"
keywords = [ "MoaT",]
requires-python = ">=3.8"
name = "moat-modbus"
description = "Modular async modbus client and server"
readme = "README.rst"

[[project.authors]]
email = "matthias@urlichs.de"
name = "Matthias Urlichs"

[project.urls]
homepage = "https://m-o-a-t.org"
repository = "https://github.com/M-o-a-T/moat"

[tool.setuptools]
[tool.setuptools.packages.find]
where = ["src"]

[tool.setuptools.package-data]
"*" = ["*.yaml"]
