[Unit]
Description=MoaT-KV main server
After=mosquitto.service
Wants=mosquitto.service
Conflicts=moat-kv-recover.service
Conflicts=distkv.service
OnFailure=moat-kv-recover.service

ConditionFileNotEmpty=/etc/moat/moat.cfg

[Install]
WantedBy=multi-user.target

[Service]
Type=notify
ExecStart=/usr/lib/moat/kv/run
ExecStartPost=/usr/lib/moat/kv/success
SuccessExitStatus=42

User=MoaT-KV
Group=MoaT

EnvironmentFile=/usr/lib/moat/kv/env
EnvironmentFile=-/etc/moat/kv.env

TimeoutSec=300
WatchdogSec=300  # Sigh
