[Unit]
Description=MoaT-Link host service

ConditionFileNotEmpty=/etc/moat/moat.cfg

[Install]
WantedBy=multi-user.target

[Service]
Type=notify
ExecStart=/usr/bin/moat link host run

RuntimeDirectory=moat/link

User=MoaT-Link
Group=MoaT

EnvironmentFile=/usr/lib/moat/link/env
EnvironmentFile=-/etc/moat/link.env

TimeoutSec=300
WatchdogSec=10
