Source: moat-lib-mqtt
Maintainer: "Matthias Urlichs" <matthias@urlichs.de>
Section: python
Priority: optional
Build-Depends: dh-python, python3-all, debhelper (>= 13), debhelper-compat (= 13),
  pybuild-plugin-pyproject,
  python3-setuptools (>= 64),
  python3-setuptools-scm (>= 6.4),
  python3-pytest,
Standards-Version: 3.9.6
Homepage: https://github.com/m-o-a-t/moat

Package: python3-moat-lib-mqtt
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends},
  python3-anyio (>= 4.4),
  python3-attr (>= 23.2.0),
  python3-stamina (>= 24.2.0),
Description: Sans-io MQTT v5 client/broker with an AnyIO based I/O implementation
