Source: moat
Maintainer: "Matthias Urlichs" <matthias@urlichs.de>
Section: python
Priority: optional
Build-Depends: dh-python, python3-all, debhelper (>= 13), debhelper-compat (= 13),
  python3-setuptools,
  python3-wheel,
Standards-Version: 3.9.6
Homepage: https://m-o-a-t.org

Package: moat
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends},
  python3-anyio (>= 3.0),
  moat-util,
  python3-trio (>= 0.30),
Conflicts: python3-moat-main, moat-main
Replaces: moat-main
Description: The command line for MoaT
  # MoaT main
  .
  This module contains the command line for (all of) MoaT.

