#!/usr/bin/make -f

export PYBUILD_NAME=moat
%:
	dh $@ --with python3 --buildsystem=pybuild

execute_before_dh_install:
	mkdir -p debian/tmp/etc/moat
	install moat.yaml debian/tmp/etc/moat

override_dh_auto_test:
	: no tests here
