#!/usr/bin/make -f

export PYBUILD_NAME=moat-link-akumuli
%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_install:
	dh_auto_install
	install -D -m 644 systemd/moat-link-akumuli@.service \
		debian/moat-link-akumuli/usr/lib/systemd/system/moat-link-akumuli@.service
