/* do not invent white borders around the page */

.bd-page-width {
    max-width: 999rem !important;
}

section#subpackages, section#submodules {
    font-size: 80%;
    float: left;
    width: 50%;
}
section#package-contents {
    float: left;
    width: 100%;
}
